<aside class="card side"><div class="sideTitle">Classic Trip</div><div class="sideNav"><a class="btn btnGhost" href="/routes">Routes</a><a class="btn btnGhost" href="/services">Services</a><a class="btn btnGhost" href="/companies">Partners</a></div></aside>
